@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>for addition information on the developer go to his <a href="https://www.linkedin.com/in/jonathan-maldonado-mari%C3%B1elarena-a28104ba">LinkedIn</a> and to his <a href="https://github.com/jonofarc">Github</a></p>
