@{
    ViewBag.Title = "Home Page";
    //Layout = "MyLayout.cshtml";
}



<div class="row">
   
    <div class="col-md-6 margin-top-20">
        
        <a href="#" class="btn btn-primary btn-block btn-lg"> 
            <span class="glyphicon glyphicon-circle-arrow-down">
            </span>
            Withdrawal
        </a> 
        <a href="#" class="btn btn-primary btn-block btn-lg">
            <span class="glyphicon glyphicon-flash">
            </span>
            Quick Cash 100$
        </a> 
        <a href="@Url.Action("Details", "CheckingAccount")" class="btn btn-primary btn-block btn-lg">
            <span class="glyphicon glyphicon-question-sign">
            </span>
            Balance Inquiry
        </a> 
    </div>
    <div class="col-md-6 margin-top-20">

        <a href="#" class="btn btn-primary btn-block btn-lg">
            <span class="glyphicon glyphicon-print">
            </span>
            Print Statement
        </a>
        <a href="#" class="btn btn-primary btn-block btn-lg">
            <span class="glyphicon glyphicon-transfer">
            </span>
            Transfer Funds
        </a>
        <a href="#" class="btn btn-primary btn-block btn-lg">
            <span class="glyphicon glyphicon-circle-arrow-up">
            </span>
            Deposit Cash
        </a>
    </div>

</div>
<div style="display:none">
    you are using @Request.Browser.Browser and that is ok

    @{ var amounts = new List<Decimal> { 100, 29.9m, -40, 890, 78.9m, -98.7m };

    }

    <ul>
        @foreach (decimal amount in amounts)
        {

            <li>@MyHelpers.formatAmount(amount)</li>
        }

    </ul>
    @section scripts{
        <script>var testing = true;</script>
    }




</div>
